.float_right{
    float: right;
}

.modal-header{
    height: 45px;
    background-color: aliceblue;
}

.modal-body .mb-3{
    margin-top: -10px!important;
}

.card-header{
    background-color: aliceblue;
}

.error_msg{
    border: 1px solid red;
}

.card_btn_xs{
    padding-top: 1px;
    padding-bottom: 0px;
}

.table thead{
    background-color: darkgray;
}

.fifty_percent{
    width: 50%;
}
.hundred_percent{
    width: 100%;
}

.table_bottom_border{
    border-bottom: 1px solid currentColor;
}

.req {
    color: red;
}

.navbar-nav li:hover>.dropdown-menu {
    display: block;
}

.card-title {
    margin-bottom: 0.3rem;
}
  
.cat {
    display: inline-block;
    margin-bottom: 1rem;
}
  
.fa-users {
    margin-left: 1rem;
}
  
.card-footer {
    font-size: 0.8rem;
}

.m-t-10 {
    margin-top: 10px;
}